<div class="jumbotron py-3">
    <h1 class="display-4 text-center">Assignment Submissions</h1>
  </div>
  
  <div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Student ID</th>
                    <th>Student Name</th>
                    <th>Link</th>
                    <th>Comment</th>
                    <th>Submission Date</th>
                    <th>Grade</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pd of service.list">
                    <td (click)="populateForm(pd)">{{pd.studentId}}</td>
                    <td (click)="populateForm(pd)">{{pd.studentName}}</td>
                    <td>
                        <select class="form-control form-control-lg" name="grade"
                        #groupId="ngModel" [(ngModel)]="pd.grade"
                        value="pd.grade" selected>
                            <option *ngFor="let grade of grades" (click)="this.setGrade(pd, state.grade)">
                                {{grade}}
                            </option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-info btn-lg btn-block" type="button" (click)="navigateBackToAssignment()">Back to assignment</button>
    </div>
  </div>