<div class="jumbotron py-3">
    <h1 class="display-4 text-center">Groups</h1>
  </div>
  
  <div class="row">
    <div class="col-md-6">
        <app-groups-form></app-groups-form>
    </div>
    <div class="col-md-6">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Group ID</th>
                    <th>Name</th>
                    <th>Number of students</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pd of service.list">
                    <td (click)="populateForm(pd)">{{pd.groupId}}</td>
                    <td (click)="populateForm(pd)">{{pd.name}}</td>
                    <td (click)="populateForm(pd)">{{pd.numberOfStudents}}</td>
                    <td>
                        <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.groupId)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>