<div class="jumbotron py-3">
    <h1 class="display-4 text-center">Lab Attendance</h1>
  </div>
  
  <div class="row">
    <div class="col-md-6">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Student ID</th>
                    <th>Student Name</th>
                    <th>State</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pd of service.list">
                    <td (click)="populateForm(pd)">{{pd.studentId}}</td>
                    <td (click)="populateForm(pd)">{{pd.studentName}}</td>
                    <td>
                        <select class="form-control form-control-lg" name="stateId"
                        #groupId="ngModel" [(ngModel)]="pd.stateId"
                        value="pd.stateId" selected>
                            <option *ngFor="let state of states" value="{{state.stateId}}" (click)="this.setState(pd, state.stateId)">
                                {{state.name}}
                            </option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>